# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables files
.env

# Ignore database files
*.db
*.sqlite3

# Ignore IDE configurations
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

